.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* nevbar design starts from here */

/*For Desktop*/
[class*="col-"]{
    float: left;
    padding: 10px;
}
.nevbar{
    height: 100px;
}
.nev-logo{
    text-align: left;
    margin-top: -15px;
}
.nev-name h1{
    margin-top: 5px;
    margin-left: 25px;

}
.nev-manu{
    flex-direction: row;
    justify-content: flex-end;
}
.nev-manu a{
    padding: 5px 10px;
    margin: 15px 0px;
    background-color: transparent;
}

/* nevbar design ends here */


/* profile design starts from here */

.top-weather-icon{
    right: 100px;
    width: 120px;
    transition:width 2s, tranform 2s;
}
.top-weather-icon:hover{
    width: 140px;
}
.profile-dese p{
    width: 50%;
    margin: 0px auto;
}
.bottom-weather-icon{
    bottom: 20px;
    left: 140px;
    width: 120px;
    transition: width 2s, transform 2s;
}
.bottom-weather-icon:hover{
    width: 140px;
}
/* profile design ends here */

/* about me design starts here*/
.about-me::after{
    content: '';
    display: table;
    clear: both;
}
.aboutme-img img{
    margin-top: 120px;
    width: 250px;
    height: 270px;

}
.about-me p{
    text-align: start;
}
/* about me design end here */

/* Professional Experience starts here  */

#education{
    height: 750px;
}
/* -----------------Nothing needed to be done here------------- */

/* Professional Experience ends here  */


/* achievement contract strarts from here  */

.achievement{
    padding-right: 50px;
}
.contract-link{
    position: relative;
}
.media-icon{
    position: absolute;
    margin-top: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* achievement contract end here */

/* footer start from here */
.footer::after{
    display: table;
    content: '';
    clear: both;
}
.footer-manu{
    margin-top: 10px;
}
.footer-manu a{
    display: inline;
    margin: 10px;
}
/* footer end here */